body{
    background-color: burlywood;
}
h1 {
    color: black;
    text-align: center;
}
p{
    font-family: 'Franklin Gothic Medium'; /*, 'Arial Narrow', Arial, sans-serif;-*/
}
#name{
    background-color: hotpink;
    font-family: 'Trebuchet MS';
    color: silver;
    text-align: center;
}
#Wololo{
    background-color: red;
    font-family: 'Trebuchet MS';
    color: blue;
    text-align: left;
}
#Wololo2{
    background-color: blue;
    font-family: 'Trebuchet MS';
    color: red;
    text-align: left;
}